* {
  box-sizing: border-box;
}

body {
  background-color: 	#e1f1fd;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.game-wrapper {
  align-items: center;
  justify-content: center;
  background-color: #c1d8f0;
  box-shadow: 0 0 10px #4663ac;
  border-radius: 15px;
  padding: 40px;
  display: flex;
  gap: 50px;
}

.gallows-pic {
  max-width: 300px;
}

.word-guess-wrapper {
  max-width: 60%;
}

.word {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
  max-width: 600px;
}

.word .letter {
  width: 40px;
  height: 50px;
  border-bottom: 4px solid #4663ac;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 3rem;
}

.word .guessed-letter {
  border: transparent;
}

.hint {
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 50px;
  font-size: 1.5rem;
}

.wrong-count {
  text-align: center;
  margin-bottom: 50px;
  font-family: sans-serif;
}

.keyboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 500px;
}

.keyboard .key {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4663ac;
  text-align: center;
  line-height: 40px;
  color: #e1f1fd;
  font-family: sans-serif;
}

.keyboard .key:hover {
  cursor: pointer;
  border: 1px solid #4663ac;
  background-color: #e1f1fd;
  color:#4663ac;
}

.not-active-key {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #4663ac;
  text-align: center;
  line-height: 40px;
  background-color: #c8d9ed;
  font-family: sans-serif;
  border: 1px solid #4663ac;
}

.not-active-key:hover {
  cursor: default;
}

.modal-game-over {
  width: 400px;
  height: 300px;
  background-color: #4663ac;
  background: (0, 0, 0, 0.5);
  position: fixed;
  z-index: 999;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  padding: 40px;
  align-items: center;
  justify-content: center;
}

.modal-text {
  color: #c8d9ed;
  font-size: 2rem;
  font-family: sans-serif;
  text-align: center;
}

.play-again-button {
  margin-top: 20px;
  width: 120px;
  height: 40px;
  background-color: #c8d9ed;
  color: #4663ac;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
}

.play-again-button:hover {
  cursor: pointer;
  border: 1px solid #c8d9ed;
  background-color: #4663ac;
  color: #c8d9ed;
}

@media (max-width: 768px) {
  .game-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .gallows-pic {
    max-width: 150px;
  }
}